version: "3.8"
services:
  edge_node:
    build: .
    image: edge-fhir-hybrid:latest
    runtime: nvidia
    network_mode: host
    restart: always
    volumes:
      - ./models:/opt/app/models
      - ./logs:/opt/app/logs
